* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}
body {
	background: linear-gradient(120deg, #B0E0E6, #20B2AA) no-repeat;
	height: 100vh;
	font-size: 16px;
}
.container {
	padding: 10px;
	max-width: 800px;
	margin: auto
}
.title {
	margin: 10px;
}
.txt {
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	border-bottom: 2px solid #333;
	padding: 10px;
	background: none;
	font-size: 18px;
}
.txt::placeholder {
	color: rgba(0,0,0,.5);
}

.task {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin: 6px 0;
	transition: .2s;
}
.task-notcomp {
	background: rgba(255,255,255,.7);
	user-select: none;
}
.task-notcomp:hover {
	background: rgba(255,255,255,1);
	transition: .2s;
}
.task-comp {
	background: rgba(0,0,0,.5);
	color: #fff;
	user-select: none;
}
.task-comp:hover {
	background: rgba(0,0,0,1);
	transition: .2s;
}
.task__icon {
	float: right;
	margin: 0 6px;
	cursor: pointer;
}

.empty-list {
	color: rgba(0,0,0,.7);
	font-style: italic;
	padding: 0 10px;
	font-size: 12px;
}