* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: static;
}

.area {
  background-color: #000;
  position: fixed;
  height: 85%;
  width: 100%;
}

.element {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.element._normal-scaling {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.element._scaling {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

@media screen and (max-width: 768px) {
  .element {
    width: 80px;
    height: 50px;
  }
}

.element:hover {
  z-index: 9;
}

.element:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  z-index: 3;
}

.element__img {
  width: 100px;
  height: 80px;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .element__img {
    width: 80px;
    height: 50px;
  }
}

.element__name {
  color: #fff;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .element__name {
    font-size: 14px;
  }
}

.element__name-final:after {
  content: ' *';
  color: #ce1718;
}

.bg {
  width: 100%;
  height: 100%;
}

.bg._show {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: .2s;
  transition: .2s;
}

.info {
  opacity: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #282941;
  color: #fff;
  width: 50%;
  height: 80%;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .info {
    width: 80%;
  }
}

.info._opened {
  opacity: 1;
  top: 50%;
  z-index: 3;
}

.info__container {
  padding: 20px;
  height: 100%;
}

.info__title {
  font-size: 28px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .info__title {
    font-size: 18px;
  }
}

.info__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: #ce1718;
  cursor: pointer;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.info-mark {
  font-weight: 700;
  color: #ce1718;
}

.catalog {
  opacity: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #282941;
  border: 1px solid #2d85af;
  color: #fff;
  width: 50%;
  height: 90%;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 768px) {
  .catalog {
    width: 90%;
  }
}

.catalog._opened {
  opacity: 1;
  top: 50%;
  z-index: 3;
}

.catalog__container {
  padding: 20px;
  height: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .catalog__container {
    padding: 15px;
  }
}

.catalog__title {
  font-size: 28px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .catalog__title {
    font-size: 18px;
    margin: 0 auto;
    width: 90%;
  }
}

.catalog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: #ce1718;
  cursor: pointer;
}

.catalog__content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__elems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 0 0;
  overflow-y: scroll;
}

.catalog__info {
  display: none;
}

.catalog__controls {
  margin: 20px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__btn-add {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  background-color: orange;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 768px) {
  .catalog__btn-add {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .catalog__btn-add {
    padding: 5px 10px;
  }
}

.catalog__btn-add:hover {
  background-color: #d18800;
  -webkit-transition: .2s;
  transition: .2s;
}

.catalog__btn-info {
  display: none;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  background-color: orange;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 768px) {
  .catalog__btn-info {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .catalog__btn-info {
    padding: 5px 10px;
  }
}

.catalog__btn-info:hover {
  background-color: #d18800;
  -webkit-transition: .2s;
  transition: .2s;
}

.catalog__search {
  margin: 10px 0;
}

.catalog__search input {
  border: 0;
  outline: 0;
  color: #fff;
  padding: 5px 0 0 5px;
  font-size: 18px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-elem {
  width: 50px;
  height: 70px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 768px) {
  .catalog-elem {
    width: 30px;
    height: 50px;
  }
}

.catalog-elem:hover {
  -webkit-box-shadow: inset 0px 0px 12px orange;
          box-shadow: inset 0px 0px 12px orange;
  -webkit-transition: .2s;
  transition: .2s;
}

.catalog-elem._selected {
  background-color: orange;
}

.catalog-elem__img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .catalog-elem__img {
    width: 30px;
    height: 30px;
  }
}

.catalog-elem__txt {
  padding: 10px 0 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .catalog-elem__txt {
    font-size: 14px;
  }
}

.catalog-elem__txt-final:after {
  content: ' *';
  color: #ce1718;
}

.catalog-elem__check {
  display: none;
}

.counter {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

.notice {
  padding: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .notice {
    padding: 10px;
    font-size: 12px;
  }
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #2d85af;
  background-color: #282941;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
}

.tools__section:nth-child(1) {
  width: 50%;
  border-right: 1px solid #2d85af;
  cursor: default;
}

.tools__section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tool {
  height: 60px;
  width: 60px;
  color: #fff;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 768px) {
  .tool {
    padding: 8px;
  }
}

.tool__remove {
  display: none;
  background-image: url("img/remove.svg");
}

.tool__remove-hover {
  background-color: #ce1718;
  -webkit-transition: .2s;
  transition: .2s;
}

.tool__catalog {
  background-image: url("img/list.png");
}

.tool__info {
  background-image: url("img/info.png");
}
/*# sourceMappingURL=style.css.map */